
body, html {
  margin: 0;
  /*overflow: hidden;*/
  background: #efefef;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

svg {
  display: block;
  width: 100%;
  height: 100vh;
}

.content {
  position: fixed;
  top: 25%;
  bottom: 15%;
  left: 40%;
  right: 40%;
  /*background: white;*/
  opacity: 1.0;
  /*border: solid 1px black;*/
  text-align: center;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding: 30px;
}

@media (max-width: 800px) {
  .content {
    left: 10%;
    right: 10%;
  }
}
@media (max-height: 700px) {
  .content {
    top: 15%;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .content {
    left: 35%;
    right: 35%;
    top: 35%;
  }
}
