
div
  img(src="./EtsyIcon.png")

  h2
    | NYAI & Clarifai Present
    
  h4
    i
      | Hack Night 0.1
    br
    br
    i
      | feat.
    br
    u
      | Matthew Zeiler
    
  p
    | Join us for an informal night of coding and creation.
  p
    | Food and drinks provided.
    
  p
    | 6:30 - 9 p.m.
    br
    | Location
  a(href="eventbrite.com")
    | Get Tickets
